/* Container for the YouTube video grid */
.youtube-video-grid {
    padding: 30px 20px;
}

/* Grid container */
.grid-container {/* Enable horizontal scrolling */
}

/* Row for each playlist */
.playlist-row {
    margin-bottom: 30px;
}

.playlist-title {
    font-size: 42px;
    margin-bottom: 20px;
    margin-left: calc(50vw - 150px);
    font-family: 'Abhaya Libre', sans-serif ;

}

/* Display videos within a playlist in a grid */
.playlist-videos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    overflow-x: auto; 
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Grid item (video thumbnail) */
.grid-item {
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

.grid-item:hover {
    background-color: #f9f9f9;

}
.loading-container{
    width: 50vw;
}
.thumbnail {
    min-width: 220px;
    width: 80%; /* Ensure thumbnails are responsive */
    height: auto; /* Preserve aspect ratio */
    border-radius: 5px;
}

/* Title of the video */
.title {
    margin-top: 5px;
    font-size: 24px;
    font-family: 'Abhaya Libre', sans-serif ;
}

/* Subscribe button */
.subscribe-button {
    text-align: center;
    padding: 20px 0;
}

.subscribe-button a {
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .grid-item {
        width: 100%;
        min-width: 250px;
    }

    .playlist-title {
        margin-left: 0;
        font-size: 32px;
        width: 100%;
    }

    .title {
        font-size: 15px;
    }


}
